# macOS
*DS_Store

# Kiro IDE
.kiro/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
package/
# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# notebooks not ready
notebooks/03-multi-agent-genomics-pipeline.ipynb
infrastructure/.DS_Store
*.zip
